<attempts-counter
  [attempts]="settings.MAX_ATTEMPS"
  [usedAttempts]="settings.usedAttempts()"
/>

<hidden-word
  [hiddenWord]="settings.hiddenWord()"
/>

<div
  class="letters__container"
  [class.hide]="['win', 'lose'].includes(this.settings.gameStatus())"
>
  @for (letter of settings.LETTERS; track 'letter'+$index) {
    <letter
      [letter]="letter"
      (onClickLetter)="checkLetter( letter )"
    />
  }
</div>

<alert [status]="settings.gameStatus()"/>

@if (settings.gameStatus() !== 'playing') {
  <div class="Buttons_Container">
    <button
      type="button"
      class="close"
      routerLink="/"
    >
      Salir
    </button>
    <button
      type="button"
      class="restart"
      (click)="settings.initializeGame()"
    >
      <svg
        fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor"
        width="24" height="24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
        />
      </svg>
    </button>
  </div>
}
