$secundar-color: rgb(27,101,219);


.letters__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: .3rem .6rem;
}

.Buttons_Container{
  margin-top: 1.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;

  button{
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: 1px solid #666;
    filter: drop-shadow(0px 1px 2px #666);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .5px;
    color: #fff;
    background-color: $secundar-color;
    transition: background-color .5s ease;

    &:hover{
      background-color: #fff;
      color: $secundar-color;
    }
  }
}

.hide{
  display: none;
}
