/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  display: flex;
  flex-flow: column nowrap;
  justify-items: center;
  align-items: center;
  font-family:'Roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 60%;
  margin: 0 auto;
}